* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #e77600;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #92b1c5;
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.9);
}

.stopwatch-display {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #92b1c5;
    padding: 0.5rem 1rem;
    border: 5px solid #aeaeac;
    border-radius: 10px;
    background-color: #794f1f;
    box-shadow: 0 0 0 5px #454545;
    text-shadow: 4px 1px 1px rgba(0, 0, 0, 0.8);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;  
}

button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #794f1f;
    color: #feb30c;
    transition: background-color 0.3s;
    border: 2px solid #ccc;
    font-weight: bold;
    box-shadow: 0 0 0 5px #454545;
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.8);
}

button:hover {
    background-color: #454545;
}

button:disabled {
    background-color: #e77600;
    cursor: not-allowed;
}
